@model CategoryModel
@{
    ViewData["Title"] = "EditCategory";
}

<h1>EditCategory</h1>
<hr />

<div class="row ">
    <div class="col-4">
        <form asp-controller="Admin" asp-action="EditCategory" method="post">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="mb-3 form-group-row">
                <label class="col-md-2 col-form-label">Category Name</label>
                <div class="col-md-10">
                    <input type="text" name="Name" value="@Model.Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 form-group-row">

                <div class="col-md-10">
                    <input type="submit" name="name" value="Update Category" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    <div class="col-8">
        @if (Model.Products.Count > 0)
        {
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td><img src="~/img/@item.Images[0].ImageUrl" width="80" /></td>
                            <td>@item.Name</td>
                            <td>@item.Price</td>
                            <td>
                                <a class="btn btn-warning btn-sm" href="/admin/products/@item.Id">Edit</a>
                                <form action="/Admin/DeleteFromCategory" method="post" style="display:inline">
                                    <input type="hidden" name="productId" value="@item.Id" />
                                    <input type="hidden" name="categoryId" value="@Model.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning">
                <h4>No Products</h4>
            </div>
        }
    </div>
</div>


